/* Mengatur halaman agar pusat */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: url(../../img/leopard.jpeg) no-repeat center center fixed; /* Menambahkan gambar sebagai background */
    background-size: cover; /* Mengatur gambar agar menutupi seluruh area */
  }
  
  .login-container {
    width: 300px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); /* Warna putih semi-transparan agar tampak seperti overlay */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #059212;
  }
  
  label {
    font-size: 14px;
    color: #555;
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #88D66C;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #347928;
  }
  
  p {
    margin-top: 10px;
    font-size: 12px;
  }
  
  a {
    color: #347928;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  