@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
h1 {
  font-size: 20px;
}

.semua-nav {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow lebih gelap dan lebih kabur */
}

@media (max-width: 425px) {
  .offcanvas.offcanvas-end {
    width: 50vw; /* Atur lebar offcanvas menjadi 50% dari lebar viewport */
  }
}

@media (max-width: 767px) {
  .nav {
    display: none; /* top hilang */
  }
  .semua-nav {
    margin-top: 0px; /*navbar */
    top: 0;
  }
  main {
    margin-top: 50px;
  }
  
}
@media (min-width: 768px) {
  .semua-nav {
    margin-top: 40px;
    position: fixed;
    z-index: 5;
  }
  main {
    margin-top: 95px;
  }
}
.container{
  max-width: 1400px;
}

/* link samar */
.do {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.do:focus {
  color: crimson;
}
.do:hover {
  border: 5px;
  border-color: violet;
  color: black;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: crimson;
}

/* top */
.haha {
  color: white;
}
.haha::after,
.dropdown-toggle::after {
  display: none; /* Menghilangkan caret pada tombol dropdown dan elemen lain dengan kelas yang ditentukan */
}

/* semua konten  */
.konten-1,
.container .card {
  position: relative;
  z-index: 0; /* Pastikan lebih tinggi dari carousel */
}

/* konten 9 */
.daftar {
  background-image: url('asset/img/ktmb.jpeg');
  background-size:inherit;
  background-position: center;
  padding: 20px;
}
.vignette {
  position: relative;
  color: white;
  padding: 20px;
}
.vignette::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}
.vignette h2,
.vignette p,
.vignette button {
  position: relative;
  z-index: 2;
}
.long-paragraph {
  max-width: 600px; /* Atur lebar maksimum untuk paragraf */
  line-height: 1.6; /* Jarak antar baris untuk keterbacaan */
  margin-bottom: 20px; /* Ruang bawah untuk pemisahan */
  overflow-wrap: break-word; /* Memastikan teks tidak meluap dari batas */
}

/* footer 4 */
.paling-bawah {
  position: absolute;
  margin-top: 33px;
  background-color: white;
  z-index: 0;
}